<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="css/search-form.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="css/data-table.css" type="text/css" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        body {
            background: #999;
        }
    </style>
</head>
<body>

<div align="center">
    <form id="search-form" method="GET" action="explore.html">
        <input id="searchText" type="text" name="location" placeholder="Area you want to explore"/>
        <input id="searchBtn"  type="submit" value="Search" />
    </form>
    <p th:text="'Recommended locations around ' + ${name} + '!'"/>
</div>

<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Location</th>
        <th class="text-left">Category</th>
    </tr>
    </thead>
    <tr th:each="recommendedLocation : ${recommendedLocations}">
        <td th:text="${recommendedLocation.name}">Location Name</td>
        <td th:text="${recommendedLocation.category}">Category</td>
    </tr>
</table>
</body>
</html>
